.Input {
    text-align: left;
    font-size: 24px;
    margin: 10px auto;
    width: 60%;
    padding: 5px;
}
.InputElement {
    padding: 10px; 
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.InputElement:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.05);
}
.Label {
    display: block;
    font-weight: bold;
    text-transform: capitalize
}
.invalid {
    background-color: rgba(250, 120, 22, 0.5);
    border: 1px solid red;
}